jobs:
  test:
    strategy:
      matrix:
        node_version: [20, 22, 24]
        os: [ubuntu-latest, windows-latest]
    name: Node.js v${{ matrix.node_version }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      DEBUG: 'impvol*'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ./.github/actions/prepare
        with:
          node-version: ${{ matrix.node_version }}
      - run: npm test

name: Test

on:
  pull_request: ~
  push:
    branches:
      - main
